<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>LoginPage</title>
</head>
<body>
    <h1>Login Page</h1>
    <div class="showTips">
        <p th:if="${param.logout}">登出成功</p>
        <p th:if="${param.error}">用户名或密码错误</p>
    </div>
    <div>
        <form th:action="@{/login}" method="post">
            <p>用户名:<lable><input th:name="username" th:type="text" /></lable></p>
            <p>密码:<lable><input th:name="password" th:type="password" /></lable></p>
            <p><lable><input th:value="login" th:type="submit" /></lable></p>
        </form>
    </div>
</body>
</html>